:root {
    --primary: #007bff;
}
body {
    width:99vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: gray;
}
.container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 500px;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
}
h1 {
    text-align: center;
    color: whitesmoke;
    font-weight: 1000;
    font-size: 1.9rem;
}
h2, h3 {
    text-align: center;
    font-size: 1.3rem;
    color: var(--primary);
    margin: 0;
    padding: 0;
}
header {
    background-color: var(--primary);
    border-radius: 20px 20px 0 0;
}
footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 0 0 20px 20px;
    background-color: rgb(241, 241, 241);
}
input {
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid gray;
    font-size: 1rem;
}
button {
    padding: 10px 20px;
    border: none;
    background-color: var(--primary);
    color: whitesmoke;
    font-size: 1.1rem;
    border-radius: 30px;
}
button:hover {
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}
.statusClass {
    text-align: center;
    padding: 0.25rem;
    color: darkslategray;
}
.chatClass {
    height:500px;
    overflow-y: auto;
    flex-grow: 1;
}
.message {
    border-radius: 40px;
    padding: 10px 40px;
    width: fit-content;
}
.message.main {
    margin: 0.5rem 0 0 0.5rem;
    background-color: lightgreen;
}
.message.other {
    margin: 0.5rem 0.5rem 0 auto;
    background-color: lightskyblue;
}
.disabled {
    background-color: gray;
}